
.box {
  width: 70%;
  margin: auto;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box h2{
  font-family: Arial, Helvetica, sans-serif;
  color:White;
  text-shadow: 2px 2px 5px black;
  padding-left:20px;
  padding-top:10px;
}

.box h3{
  font-family: Arial, Helvetica, sans-serif;
  padding-left:20px;
  padding-top:10px;
  margin:auto;
}

.box p{
  margin:5px;
  padding-left:50px;
  padding-right:50px;
  font-family: arial;
}

[class^="ribbon-"] {
  position: relative;
  margin-bottom: 8px;
}

[class^="ribbon-"]:before, [class^="ribbon-"]:after {
  content: "";
  position: absolute;
}

.ribbon-3{
  width: auto;
  height: 50px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 30px;
  background: #efb23b;
}
.ribbon-3:before{
  height: 0;
  width: 0;
  border-top: 10px solid #9e6800;
  border-left: 10px solid transparent;
  bottom: -10px;
}
.ribbon-3:after{
  border-top: 10px solid #9e6800;
  border-right: 10px solid transparent;
  right: 0;
  bottom: -10px;
}
.box img{
  margin-left:50px;
  padding:20px;
  max-width:100%;
}
.ribbon-content {
  height: inherit;
  margin-bottom: 0;
  background: #37b7c7;
  z-index: 100;
}
.ribbon-content:before {
  height: 0;
  width: 0;
  border-top: 10px solid #26808b;
  border-left: 10px solid transparent;
  bottom: -10px;
}
.ribbon-content:after {
  border-top: 10px solid #26808b;
  border-right: 10px solid transparent;
  right: 0;
  bottom: -10px;
}

.banner img{
  height: 100px;
  width: auto;
  max-width:100%;
}
